@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#song_list_guessing {
  div.col {
    padding: 0 1.5rem;

    &:hover {
      cursor: pointer;
    }

    div {
      padding: .3rem 1rem;
    }

    &:not(.selected) {
      padding: 0 2rem;
    }

    &.selected {
      color: green;
    }

    &:has(~.selected) {
      color: red;
    }
  }
}

.fixed-mobile-resolution {
  max-width: 430px;
}